<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
    <!-- Define your beans here -->
    
    <!-- define the dependency -->
    <bean id="aobj"
    		class="com.fita.A">
    	</bean>
    	
    	<bean id="basketball"
    		class="com.fita.BasketballCoach">
    	</bean>
    	
    	
    	<bean id="hockey"
    		class="com.fita.Hockeycoach">
    	</bean>
    	
    	
    <bean id="aobj1" class="dependencyinjection.A">
    <property name="a" value="78"/>
    <property name="msg" value="Hello All"/>
    		
    	</bean>
    	
    	
    	    <bean id="bobj1" class="dependencyinjection.B">
    <constructor-arg value="78"/>
    <constructor-arg name="msg" value="Hi All"/>
       		
    	</bean>
    	
    	
    		
    	    <bean id="abobj" class="dependencyinjection.AB">
    		<property name="aobj" ref="aobj1"/>
   			 <constructor-arg ref="bobj1"/>
       		
    	</bean>

  
</beans>





